@import "../../styling/_variables";

.searchResults-container {
  width: 377px;
  transform: translateY(-20px);
}

.results-list {
    position: absolute; /* Rimuove il componente dal flusso */
   width: 377px;
    background: rgba(240, 240, 240, 0.8); /* Colore di sfondo semi-trasparente */
    padding: 20px; /* Spaziatura interna */
    z-index: 1000; /* Porta il componente in primo piano */
    backdrop-filter: blur(10px); /* Aggiunge l'effetto blur allo sfondo */
    border-radius: 10px; /* Rende gli angoli del componente arrotondati */
    

    li {
        border: 1px solid lightgray;
        padding: 20px;
        text-decoration: none;
    }

  h3 {
  }
}
