@import "../../styling/_variables";

.searchResults-container {
  width: 377px;
  transform: translateY(-16px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-list {
  position: absolute;
  width: 1200px;
  padding: 20px;
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  background: rgba(136, 210, 228, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    border: 1px solid lightgray;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    div {
      display: flex;

      align-items: center;
    }
  }

  h3 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    a {
      text-decoration: none;
      color: $default-button-bkg-color;
    }
  }

  .closeSearch-button {
    position: absolute;
    top: 24px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}
