@import "../../styling/variables";
@import "../../styling/global.scss";

.loginPage {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; // Maxbredd för loginPage
  width: 100%; // Fyll hela bredden i mindre skärmar
  margin: 15px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative; // Lägg till position: relative för att overlayn ska positioneras i förhållande till loginPage
}

.overlay {
  position: absolute; // Ändrat till absolute för att täcka loginPage
  top: 0; // Placera överst i loginPage
  left: 0; // Placera till vänster i loginPage
  width: 100%; // Fyll hela bredden av loginPage
  height: 100%; // Fyll hela höjden av loginPage
  background: rgba(213, 209, 209, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayContent {
  background-color: #7F7979;
  padding: 20px;
  border-radius: 8px;
  width: 100%; // Full bredd i förhållande till overlay
  height: 95%; // Anpassa höjden efter innehållet
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  // Responsiv anpassning
  @media (max-width: 800px) {
    padding: 15px; // Justera padding för mindre skärmar
    max-width: 90%; // Låt den ta mer plats på mobiler
  }
}

.toLoginButton {
  &.overlayActive {
    background-color: $primary-color;
    color: $text-color;
    width: 110px;
    justify-content: center;
    justify-items: center;
  
  }
}
