@import "../../styling/_variables";

.form-button {
  background-color: $default-button-bkg-color;
  color: $default-button-text-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 70%;
  margin: 0.5rem auto;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    background-color: darken($default-button-bkg-color, 10%);
  }
}

.close-button {
  width: 32%;
  text-align: center;
  font-size: 18px;
  margin: -50px 20px 80px auto;

  background-color: transparent;

}

.login-button {
  margin-top: 2rem;
}

.logout-button {
  width: 20%;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
}
