@import "../../styling/variables";
@import "../../styling//global.scss";


*{
  font-family: $main-font;
}

.profile-page {
  font-family: $main-font;
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 15px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-page h1 {
  color: $primary-color;
  text-align: center;
  margin-bottom: 20px;
}

.meetups-list {
  list-style-type: none;
  padding: 0;

  .meetup-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
    background-color: #ffffff; 
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto 20px;
    transition: background-color 0.3s, transform 0.3s;
  
    h2 {
      margin: 0;
    }

    p {
      margin: 5px 0 0;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.message {
  font-family: $main-font;
  background-color: $primary-color;
  font-size: larger;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 15px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-prompt {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font-family: $main-font;
  background-color: $primary-color;
  font-size: larger;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 15px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  p {
    font-family: $main-font;
    font-size: larger;
    margin-bottom: 15px; 
  }

  button {
    padding: 10px 20px; 
    background-color: $secondary-color; 
    color: $primary-color; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 

    &:hover {
      color: $text-color;
      transform: translateY(-5px);
      background-color: darken($primary-color, 25%); 
    }
  }
}