$default-button-bkg-color : rgba(67,88,205,255);
$default-button-text-color : #ffffff;
$secondary-button-bkg-color: #A1AFFB;
$primary-color: #f5f5f5; 
$secondary-color : #7F7979;
$text-color: #000000;