.header {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
  height: 60px;

  &__logo {
    height: 40px;
    display: flex;
    align-items: center;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}
